0kb|      0.0000kb added|  ERROR| Playing Animation Error, Cant Find Animation: Respawn, for character: Lucian
000143.122|       0.0000kb|      0.0000kb added|  ERROR| Playing Animation Error, Cant Find Animation: Respawn, for character: Vladimir
000143.490|       0.0000kb|      0.0000kb added|  ERROR| Playing Animation Error, Cant Find Animation: Respawn, for character: Alistar
000143.890|       0.0000kb|      0.0000kb added|  ERROR| Playing Animation Error, Cant Find Animation: Respawn, for character: Renekton
000153.650|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000168.056|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000187.273|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000221.266|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000264.285|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000278.284|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000293.708|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000310.510|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000342.656|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000396.971|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000410.272|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000428.022|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000449.531|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000460.884|       0.0000kb|      0.0000kb added|  ERROR| Playing Animation Error, Cant Find Animation: shoulderpads, for character: Renekton
000481.659|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000518.064|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000532.496|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000548.936|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000568.382|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000597.026|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000611.872|       0.0000kb|      0.0000kb added|  ERROR| Playing Animation Error, Cant Find Animation: shoulderpads, for character: Renekton
000655.710|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000668.052|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000684.366|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000700.079|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000711.520|       0.0000kb|      0.0000kb added| ALWAYS| r3dRenderLayer::RecreateOwnedResources
000726.274|       0.0000kb|      0.0000kb added|   WARN| Attachment asked for a velocity on an object that no longer exists!
000731.744|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000765.389|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000777.675|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000791.951|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000811.068|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000836.207|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000887.298|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000900.425|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000904.662|       0.0000kb|      0.0000kb added|  ERROR| Failed to load mesh file name<Renekton_Base_R_cas_magicball.sco>.
000904.663|       0.0000kb|      0.0000kb added|  ERROR| Failed to load mesh file name<Renekton_Base_R_cas_magicball.sco>.
000915.618|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000933.742|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000968.499|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
000992.730|       0.0000kb|      0.0000kb added|  ERROR| Playing Animation Error, Cant Find Animation: shoulderpads, for character: Renekton
001023.220|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
001037.250|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
001053.936|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
001071.094|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
001095.747|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
001138.678|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
001151.631|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
001167.533|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
001186.164|       0.0000kb|      0.0000kb added|  ERROR| Dradis: curl_easy_perform failed: Timeout was reached
001212.14